<h3>FEATURED</h3>
  <%= image_tag(@f_label, class: "featured-label") %>
  <ul>
    <li>BEER: <%= @f_beer %></li>
    <li>ABV: <%= @f_abv%></li>
    <li>BREWERY: <%= @f_brewery %></li>
    <li>FROM: <%= @f_location %></li>
  </ul>