<div class="container">
  
  <%= render partial: "navbar" %>

    <div class="row">
      <div id="calculator" class="five columns">
        <%= render partial: "calculator" %>
      </div>
      <div id="beer-search" class="six columns offset-by-one">
        <%= render partial: "search" %>
        <div class="row">
          <div id='found-beer' class="three columns">
        &zwnj;
      </div>
        </div>
      </div>
      <div id="featured-beer" class="three columns">
        <%= render partial: "featured" %>
      </div>  
    </div>
   
    <div class="row">
      <div id="chart-gauge" class="five columns">
        <%= render partial: "meter" %>
      </div>

      <div id="trending-beer" class="three columns offset-by-seven">
        <%= render partial: "trending" %>
      </div>
    </div>

</div>

<script>
  
$(function(){


  $('#beer-search').on('submit', function(e){
    e.preventDefault();
    beerQuery = $('#search-bar').val();
    $.ajax({
      url: "/beers",
      data: {
        query: beerQuery
      },
      success: function(data) {
        
        var beer = new Beer(data);
        var view = new BeerView({model: beer});
        $('#found-beer').html(view.render().$el);

      }
    });
  });

});

</script>