  
<!-- NAVBAR --> 
<%= render partial: "navbar" %>

<!-- WRAPPER -->
<div class="row twelve columns" id="main-content">
<!-- COLUMN ONE -->

  <div class="one-third column"> 
     <%= render partial: "rounds/calculator_template" %> 
   </div>

<!-- COLUMN TWO -->
  <div class="one-third column" id="beer-search">
     <%= render partial: "search" %>
  </div>

<!-- COLUMN THREE -->
  <div class="one-third column">   
    <%= render partial: "featured_beer" %>
    <%= render partial: "trending_beer" %>
  </div>
</div> 