<div class="container">
  
  <%= render partial: "navbar" %>

    <div class="row">
      <div id="calculator" class="five columns">
        <%= render partial: "calculator" %>
      </div>
      <div id="beer-search" class="six columns offset-by-one">
        <%= render partial: "search" %>
      </div>
      <div id="featured-beer" class="three columns">
        <%= render partial: "featured" %>
      </div>  
    </div>
   
    <div class="row">
      <div id="chart-gauge" class="five columns">
        <%= render partial: "meter" %>
      </div>
 

    <script type="text/template" id="beer-results-template">
      <div class="six columns">
        <ul>
          <li><%= beer_name %></li>
          <li><%= beer_abv %></li>
          <li><%= beer_desc %></li>
        </ul>
      </div>
   </script>



      <div id="trending-beer" class="three columns offset-by-seven">
        <%= render partial: "trending" %>
      </div>
    </div>

</div>
