<div class="container">
  
  <%= render partial: "navbar" %>

    <div class="row">
      <div id="calculator" class="five columns">
        <%= render partial: "calculator" %>
    <div class="row">
      <div id="chart-gauge" class="five columns">
        <%= render partial: "meter" %>
      </div>
    </div>

      </div>
      <div id="beer-search" class="six columns offset-by-one">
        <%= render partial: "search" %>
        
      <div class="row">
        <div id='found-beer'>
          &zwnj;
        </div>
      </div>

      </div>
      <div id="featured-beer" class="three columns">
        <%= render partial: "featured" %>

        <div class="row">
          <div id="trending-beer" class="three columns">
          <%= render partial: "trending" %>
          </div>
       </div>  

      </div>  
</div>

</div>

<script>
  
$(function(){


  $('#beer-search').on('submit', function(e){
    e.preventDefault();
    beerQuery = $('#search-bar').val();
    $.ajax({
      url: "/beers",
      data: {
        query: beerQuery
      },
      success: function(data) {
        
        var beer = new Beer(data);
        var view = new BeerView({model: beer});
        $('#found-beer').html(view.render().$el);
        $('#found-beer').addClass('found-beer cf');          

      }
    });
  });

    
  $('#calculator-form').on('submit', function(e){
      e.preventDefault();
      $.ajax({
          url: "/rounds",
          method: 'POST',
          data: { round: {
              sex: $(this).find("input[name='name']").val(),
              lbs: $(this).find("input[name='lbs']").val(),
              hours: $(this).find("input[name='hours']").val(),
              abv: $(this).find("input[name='abv']").val(),
              drinks: $(this).find("input[name='drinks']").val()
            }
          },
        success: function(data) {
          console.log(data)
          var round = new Round(data);

        }
      });
  });



});

</script>