<!-- RUBY -->
<%= render partial: "partials/navbar" %>
<div class="row sixteen columns clearfix">

<!-- BACKBONE -->
  <div id="calculator" class="one-third column">
    <%= render partial: "partials/calculator" %>
      <div class="row">
        <div id="chart-gauge" class="tweleve columns chart-gauge">
          <%= render partial: "partials/meter" %>
        </div>
      </div>
  </div>

<!-- RUBY -->
  <div id="beer-search" class="one-third column">
    <%= render partial: "partials/search" %>

<!-- AJAX -->
  <div class="row">
    <div id='found-beer'>
      <%= render partial: "found_beer" %>
      &zwnj;
    </div>
  </div>

<!-- RUBY -->
  </div>

<!-- BACKBONE -->
  <div id="featured-beer" class="one-third column featured-beer">    
    <%= render partial: "featured_template" %>
  <div class="row">
    <div id="trending-beer" class="twelve columns trending-beer">
      <div class="row twelve columns alpha">
        <div class="four columns" id="trending-title">
          <h3>TRENDING</h3>
            <%= image_tag "bottles.png", size: "100x100", class: "featured-label" %>
        </div>
        <div class="trending-list" id="trending-list">
          <ul>
            <%= render partial: "trending_template" %>
          </ul>
        </div>
      </div>
    </div>
  </div>  
</div>  


