<!DOCTYPE html>
<html>
<head>
  <title>BAC ABV</title>

     <script type="text/template" id="beer-results-template">
      <div class="six columns">
        <img id="beer-label" src="<%%= beer_label %>">
        <input id="select-abv" type="submit" value="ADD TO CALCULATOR">
        <ul>
          <li><%%= beer_name %></li>
          <li><%%= beer_style %></li>
          <li>ABV: <%%= beer_abv %>%</li>
          <li><%%= beer_description %></li>
        </ul>
      </div>
    </script>

   <script type="text/template" id="bac-template">
        <div class="five columns">
          <h2><%%= bac %>% &#8776; BAC</h2>
      </div>
   </script>

<script type="text/template" id="trending-beer-template">
  <li><%%= name %></li>
</script>

<script type="text/template" id="featured-beer-template">
  <h3>FEATURED</h3>
  <img class="featured-label"  src="<%%= beer.beer_label %>" ></a>
  <ul>
    <li>BEER: <%%= beer.beer_name %></li>
    <li>ABV: <%%= beer.beer_abv %></li>
    <li>STYLE: <%%= beer.beer_style %></li>
    <li>BREWERY: <%%= brewery.brewery_name %></li>
    <li>FROM: <%%= brewery['location']['brewery_city'], brewery['location']['brewery_state'], brewery.country_name %></li>
  </ul>
</script>



<script type="text/template" id="add-drink-template">
  <div class="row">
    <div class="two columns">
      <input class="u-full-width" type="text" name="drinks">
    </div>
    <div class="two columns">
      <input class="u-full-width" type="text" name="abv">
    </div>
  </div>
</script>

<script type="text/template" id="chart-gauge-template">
 
</script>






  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  
  <div class="container">
  		<%= yield %>
  </div>
	
  </body>
</html>
