<!DOCTYPE html>
<html>
<head>
  <title>BAC ABV</title>

     <script type="text/template" id="beer-results-template">
      <div class="six columns">
        <img id="beer-label" src="<%%= beer_label %>">
        <input id="select-abv" type="submit" value="ADD TO CALCULATOR">
        <ul>
          <li><%%= beer_name %></li>
          <li><%%= beer_style %></li>
          <li>ABV: <%%= beer_abv %>%</li>
          <li><%%= beer_description %></li>
        </ul>
      </div>
    </script>

   <script type="text/template" id="bac-template">
        <div class="five columns">
          <h2><%%= bac %>% &#8776; BAC</h2>
      </div>
   </script>



<script type="text/template" id="featured-beer-template">
  <h2>FEATURED</h2>
  <%= image_tag(<%%= label %>, class: "featured-label") %>
  <ul>
    <li>BEER: <%%= name %></li>
    <li>ABV: <%%= abv %></li>
    <li>BREWERY: <%%= brewery %></li>
    <li>FROM: <%%= city, state, country %></li>
  </ul>
</script>

  //  <script type="text/template" id="add-drink-template">
  //   <div class="row">
  //     <div class="two columns">
  //       <input class="u-full-width" type="text" name="drinks">
  //     </div>
  //     <div class="two columns">
  //       <input class="u-full-width" type="text" name="abv">
  //     </div>
  //   </div>
  // </script>






  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Facebook SDK NEEDS TO BE FIRST IN BODY-->
<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : <%= "#{ENV['FACEBOOK_ID']}" %>,
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.1' // use version 2.1
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Welcome, ' + response.name;
    });
  }
</script>
  
  <div class="container">
    <%= render partial: "navbar" %>
		<%= yield %>
  </div>
	
  </body>
</html>
