<!DOCTYPE html>
<html>
<head>
  <title>BAC ABV</title>



   <script type="text/template" id="bac-template">
        <div class="five columns">
          <h2><%%= bac %>% &#8776; BAC</h2>
      </div>
   </s



<script type="text/template" id="add-drink-template">
  <div class="row">
    <div class="two columns">
      <input class="u-full-width" type="text" name="drinks">
    </div>
    <div class="two columns">
      <input class="u-full-width" type="text" name="abv">
    </div>
  </div>
</script>







  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  
  <div class="container">
      <%= yield %>
  </div>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script>
  
$(function(){


  $('#beer-search').on('submit', function(e){
    e.preventDefault();
    beerQuery = $('#search-bar').val();
    $.ajax({
      url: "/beers",
      data: {
        query: beerQuery
      },
      success: function(data) {
        
        var beer = new Beer(data);
        var view = new BeerView({model: beer});
        $('#found-beer').html(view.render().$el);
        $('#found-beer').addClass('found-beer clearfix');          

      }
    });
  });

    
  $('#calculator-form').on('submit #bac-submit', function(e){
      e.preventDefault();
      $.ajax({
          url: "/rounds",
          method: 'POST',
          data: { round: {
              sex: $(this).find("input[name='name']").val(),
              lbs: $(this).find("input[name='lbs']").val(),
              hours: $(this).find("input[name='hours']").val(),
              abv: $(this).find("input[name='abv']").val(),
              drinks: $(this).find("input[name='drinks']").val()
            },
          },
        success: function(data) {
          console.log(data)
          var round = new Round(data);
          var roundView  = new RoundView({ model: round });
          $('#bac-display').html(roundView.render().$el);

        }
      });
  });



});

</script>
  </body>
</html>
