<!DOCTYPE html>
<html>
<head>
  <title>Delicious Deathbeds</title>
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
      <%= yield %>
  </div>

	<%= render partial: "beers/found_beer_template" %>


	
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
